{% extends "partials/base.html.twig" %}

{% block content %}
	<section>
		<div class="container">
			{% if page.collection is not empty %}
				<div>
					{% for p in page.collection %}
						{% set categories = p.taxonomy.category %}
						<article>
							{% if p.media.images is not empty %}
								<figure>
									{{p.media.images|first
                                        .cropResize(400, 400)
                                        .attribute('loading', 'lazy')
                                        .html(null, p.title)|raw}}
								</figure>
							{% endif %}
							<h2>
								<a href="{{p.url}}" title="{{p.title|e}}">{{p.title|e}}</a>
							</h2>
							<div>
								<time datetime="{{p.date|date('Y-m-d H:i a')}}">{{p.date|date('m/d/Y')}}</time>
								{% if categories %}
									<p>
										{% for category in categories %}
											<span>{{category|e}}</span>
										{% endfor %}
									</p>
								{% endif %}
							</div>
							{{p.summary|raw}}
							<a href="{{p.url}}">Read</a>
						</article>
					{% endfor %}
				</div>
			{% else %}
				<h1 class="text-3xl text-center md:text-4xl">There are no entries to show</h1>
			{% endif %}
		</div>
	</section>
{% endblock %}
