{% extends "partials/base.html.twig" %}

{% block content %}
	<section class="py-8">
		<div class="container">
			{% if page.collection is not empty %}
				<div>
					{% for p in page.collection %}
						<pre>
                        {{ dump(p.header) }}
                    </pre>
						<article>
							{% if p.media.images is not empty %}
								<figure>
									{{p.media.images|first
                                        .cropResize(400, 400)
                                        .attribute('loading', 'lazy')
                                        .html(null, p.title)|raw}}
								</figure>
							{% endif %}
							<h2>
								<a href="{{p.url}}" title="{{p.title|e}}">{{p.title|e}}</a>
							</h2>
							<time datetime="{{p.header.date|date('Y-m-d H:i a')}}">{{p.header.date|date('m/d/Y')}}</time>
						</article>
					{% endfor %}
				</div>
			{% else %}
				<h1 class="text-3xl text-center md:text-4xl">There are no entries to show</h1>
			{% endif %}
		</div>
	</section>
{% endblock %}
