{% extends "partials/base.html.twig" %}

{% block content %}
	{% set tags = page.taxonomy.tag %}
	{% set categories = page.taxonomy.category %}
	<section class="py-6">
		<div class="container">
			<article class="space-y-6 md:space-y-10">
				<header class="space-y-4 md:space-y-6 lg:space-y-8">
					<h1 class="text-3xl md:text-5xl lg:text-6xl">{{ page.title|e }}</h1>
					<span class="block h-[2px] bg-red-500 w-32"></span>
					<time class="block text-sm text-red-500 md:text-base" datetime="{{ page.date|date('Y-m-d H:i a') }}">
						{{ page.date|date(config.dateformat.long) }}
					</time>
				</header>
				<section class="max-w-screen-md mx-auto prose prose-a:text-red-500">
					{{ page.content|raw }}
				</section>
				<footer class="max-w-screen-md mx-auto space-y-1">
					{% if tags %}
						<p>
							<span>Tags:</span>
							<span>
								{% for tag in tags %}
									<a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag|e }}</a>
								{% endfor %}
							</span>
						</p>
					{% endif %}
					{% if categories %}
						<p>
							<span>Categories:</span>
							<span>
								{% for category in categories %}
									<a href="{{ base_url }}/category{{ config.system.param_sep }}{{ category }}">{{ category|e }}</a>
								{% endfor %}
							</span>
						</p>
					{% endif %}
					<p>Written by &mdash;
						{{ config.site.author.name|e }}</p>
				</footer>
			</article>
		</div>
	</section>
{% endblock %}
